@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

.leaflet-container {
  margin-bottom: 30px;
  border-radius: 20px;
  border: 2px solid #ccc;
  width: 100%;
  height: 500px;
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

